.root {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;


    /* color constant */
    -main-color: #3da75b;

    -button-main: -main-color;

    -background-dark: #232323;
    -background-light: #e4e4e4;
}

#mainPane {
    -fx-background-color: -background-dark;
}

#innerCircle {
    -fx-fill: -background-dark;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.7), 20, 0.1, 0, 2);
}

#arc {
    -fx-fill: linear-gradient(to bottom, derive(-main-color, 10%), derive(-main-color, -10%));
}

#outerCircle {
    -fx-fill: -background-light;
}

.button {
    -fx-background-color: linear-gradient(to bottom, derive(-button-main, 10%), derive(-button-main, -10%));
    -fx-background-radius: 50%;
    -fx-background-insets: 0;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.1, 0, 2);
}

.button:hover {
    -fx-background-insets: -0.5;
}

.button:pressed {
    -fx-background-insets: 0.5;
}

.selectedTextField {
    -fx-fill: derive(-main-color, 20%);
}

